
body {
    background-color: black;
    color: white;
    margin:0;
    text-align: center;
}header{
    height : auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
h1{
    float:left;
}
nav{
   float:right;
   padding: 35px 10px;
}
nav a{
    float: left;
    display:block;
    margin: 0px 10px;
    
}
#unity-canvas{
    background-color: grey;
    width: 80%;
    display: block;
    height: 90%;
    margin: 10px 10%;
   
}