body {
    background-color: black;
    color: white;
    margin:0;
}
header{
    overflow: hidden;
}
h1{
    margin-left: 5%;
    float:left;
}

nav a{
    float: right;
    text-align: center; 
    padding: 14px 35px;
}